<html>
<head>
<h1>Scorecard</h1>
<style>
    body {
      background-image: url('https://www.southernresidentialleasing.com/2016/03/girl-697x1024.jpg');;
    }
    
    h1 {
      color: blue;
      text-align: center;
    }
    
    p {
      font-family: verdana;
      font-size: 20px;
      color: cornsilk;
    }
    div {
        background-image: url('img_girl.jpg');
    }

    </style>
</head>
<body>
    <a href="./home.html">Home</a>
    <a href="./login.html">Login</a>
    <a href="./register.html ">Register</a>
    <a href="./contactus.html">Contact Us</a>
    <a href="./services.html">services</a> <br><br>
    <form action="">
        <label for="contact">Cantact Us</label> <img src="../images/contact-us.png" width="100px" height="50px"><br><br>
        <img src="../images/Email.png" width="50px" height="50px"> <label for="email">abc@xyz.com</label> <br><br>
        <img src="../images/Call.png" width="50px" height="50px"> <label for="email">+1 203 456 7890</label>
        
    </form>
</body>

</html>