<html>
    <head>

    </head>
    <body>
        <form action="">
            Brand : <input type="text" id="brand" placeholder="Enter Brand"> <br><br>
            Type : <input type="text" id="type" placeholder="Enter Type"> <br><br>
            Quantity : <input type="text" id="quantity" placeholder="Enter Quantity"> <br><br>
            Polished : <input type="text" id="polish" placeholder="polished?"> <br><br>
            Max Life : <input type="text" id="max" placeholder="Enter max life"> <br><br>

            <button id="btnsubmit" onclick="save()" type="button">Submit</button>

            <ul id = "list">

            </ul>
            <table id = "tbllist" border="1" style="display: none; width: 50%;" >
                <thead>

                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </form>
        <script src="../scripts/index.js"></script>
    </body>
</html>